<ion-nav-view name="tabContent" >

  <ion-nav-bar>
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <div class="tabs">
    <a class="tab-item" href="#/app/gas/pot" nav-transition="none">
      Котельная
    </a>
    <a class="tab-item" href="#/app/gas/pot1" nav-transition="none">
      Котел 1
    </a>
    <a class="tab-item" href="#/app/gas/pot2" nav-transition="none">
      Котел 2
    </a>
    <a class="tab-item" href="#/app/gas/pot3" nav-transition="none">
      Котел 3
    </a>
  </div>

</ion-nav-view>
