<ion-nav-view name="tabContent" >

  <ion-nav-bar>
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <div class="tabs">
    <a class="tab-item" ui-sref="app.gas.pots" nav-transition="none">
      Котельная
    </a>
    <a class="tab-item" ui-sref="app.gas.pot({potId: 1})" nav-transition="none">
      Котел 1
    </a>
    <a class="tab-item" ui-sref="app.gas.pot({potId: 2})" nav-transition="none">
      Котел 2
    </a>
    <a class="tab-item" ui-sref="app.gas.pot({potId: 3})" nav-transition="none">
      Котел 3
    </a>
  </div>

</ion-nav-view>
