<ion-view view-title="Охрана">
  <ion-content>
    <div class="list">
      <ion-toggle>
        Охрана
      </ion-toggle>
  <div class="item item-icon-right">
    Питание <i class="icon ion-battery-half">
      <span class="badge badge-assertive">Аккумулятор</span>

    </i>
  </div>

  <div class="item item-icon-right">
    Питание <i class="icon ion-ios-bolt">
      <span class="badge item-note">220 В</span>
    </i>
  </div>
  <div class="item" >Входа:
        <span class = "badge mybadge">
            <button class="button button-small button-balanced oval" >1</button>
            <button class="button button-small button-assertive oval">2</button>
            <button class="button button-small button-balanced oval" >3</button>
            <button class="button button-small button-balanced oval">4</button>
            <button class="button button-small button-balanced oval">5</button>
        </span>
  </div>

  <div class="item">Выхода:
        <span class = "badge mybadge">
            <button class="button button-small button-balanced oval">1</button>
            <button class="button button-small button-balanced oval">2</button>
            <button class="button button-small button-balanced oval">3</button>
            <button class="button button-small button-balanced oval">4</button>
        </span>
  </div>

  <div class="item ">
        <div class="">Термодатчики:</div>
        <button class="button button-small button-balanced term">+2</button>
        <button class="button button-small button-balanced term">+45</button>
        <button class="button button-small button-assertive term">-255</button>
        <button class="button button-small button-assertive term">+46</button>
        <button class="button button-small button-balanced term">+87</button>
  </div>

</div>
  </ion-content>
</ion-view>
