<ion-view title="Ручное управление">
  <ion-content has-header="true">
    <form  method="post" name="options_number">
      <ion-toggle ion-toggle-text ng-model="statOutput[0].checked" ng-change="statToggleSaturnChange(0)">
        {{$parent.getTextGuardOutput(0)}}
      </ion-toggle>
      <ion-toggle ion-toggle-text ng-model="statOutput[1].checked" ng-change="statToggleSaturnChange(1)">
        {{$parent.getTextGuardOutput(1)}}
      </ion-toggle>
      <ion-toggle ion-toggle-text ng-model="statOutput[2].checked" ng-change="statToggleSaturnChange(2)">
        <!-- {{$parent.nrOptions.guardOutput[2]}} -->
        {{$parent.getTextGuardOutput(2)}}
      </ion-toggle>
      <ion-toggle ion-toggle-text ng-model="statOutput[3].checked" ng-change="statToggleSaturnChange(3)">
        {{$parent.getTextGuardOutput(3)}}
      </ion-toggle>
      <ion-toggle ng-show="setModuleGet()" ion-toggle-text ng-model="statOutput[4].checked" ng-change="statToggleModuleChange(0)">
        {{$parent.getTextModuleOutput(0)}}
      </ion-toggle>
      <ion-toggle ng-show="setModuleGet()" ion-toggle-text ng-model="statOutput[5].checked" ng-change="statToggleModuleChange(1)">
        {{$parent.getTextModuleOutput(1)}}
      </ion-toggle>
    </form>
  </ion-content>
</ion-view>
