
<ion-view title="Редактор объектов">
  <ion-content has-header="true">
    <form  method="post" name="options_number">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Объект
          </div>
          <select ng-change="resetForm()" ng-model="$parent.selected" ng-options="objects.label for objects in localobjects.items track by objects.id"></select>
        </label>
<!--
        <label class="item item-input">
          <input type="text" ng-model="$parent.objectLabel" placeholder="Название объекта">
        </label>
    <div class="item item-input">
      <div class="col col">Котлы:</div>
      <label class="col col"><ion-checkbox class="noMargin " ng-model="potCheck[0]">1 </ion-checkbox></label>
      <label class="col col"><ion-checkbox class="noMargin " ng-model="potCheck[1]">2 </ion-checkbox></label>
      <label class="col col"><ion-checkbox class="noMargin " ng-model="potCheck[2]">3 </ion-checkbox></label>
    </div> -->
  </div>
</form>
    <div class="button-bar">
      <a class="button" ng-click="changeObject()" > Изменить объект</a>
    </div>
    <div class="button-bar">
      <a class="button" ng-click="deleteObject()" > Удалить объект</a>
    </div>
    <div class="button-bar">
      <a class="button" ng-click="regInObject()" > Регистрация в объекте</a>
    </div>
    <div class="button-bar">
      <a class="button" ng-click="createObject()" > Добавить объект </a>
    </div>
  </ion-content>
</ion-view>
