<ion-view view-title="SMS">
  <ion-content>
    time:{{$parent.getCurrentTime()}}
    <div class="button-bar">
      <a class="button" ng-click="getCurrentTime()">Время?</a>
    </div>
    <button class="button" ng-click="controlMusic('play')">Test play music</button>
    <button class="button" ng-click="controlMusic('stop')">Test stop music</button>
    <button class="button" ng-click="toggleSendSuccesful()">Test toast 2</button>
    <button class="button" ng-click="testtimeout()">Test timeout</button>
    <button class="button" ng-click="testText()">Test text</button>
    <button class="button" ng-click="testsms()">test sms</button>
    <button class="button" ng-click="testlight()">test light</button>
    <button class="button" ng-click="saveLocalStorage()">SAVE</button>
    <button class="button" ng-click="loadLocalStorage()">LOAD</button>
    <button class="button" ng-click="read()">READ</button>

    {{$parent.printff}}
  </br>   {{$parent.appVariables.lastIdSms}}
</br>   {{$parent.stringStorage}}
</ion-content>
</ion-view>
