
<ion-view view-title="Управление">
  <ion-content has-header="true">
        <ion-toggle ion-toggle-text ng-model="statToggle1.checked" ng-change="statToggleChange(1)">
          Котел 1<button class="button button-small button-{{getPotColor()}} oval_small">
             {{getPotStateText()}}
           </button>
        </ion-toggle>
        <ion-toggle ion-toggle-text ng-model="statToggle2.checked" ng-change="statToggleChange(2)">
          Котел 1<button class="button button-small button-{{getPotColor()}} oval_small">
             {{getPotStateText()}}
           </button>
        </ion-toggle>
        <ion-toggle ion-toggle-text ng-model="statToggle3.checked" ng-change="statToggleChange(3)">
          Котел 1<button class="button button-small button-{{getPotColor()}} oval_small">
             {{getPotStateText()}}
           </button>
        </ion-toggle>
        <ion-toggle ion-toggle-text ng-model="torchToggle.checked" toggle-class="toggle-energized" ng-change="torchToggleChange()">
            Горелка:
        </ion-toggle>
        <div ng-show = "torchTemp({{potId()}})" class="item">Термодатчики:
          <button  ng-click="seeTempComment({{torchTemp(potId())}})" class="button button-small button-{{getTempColor(torchTemp(potId()))}} term">
              {{getNowTempStr(torchTemp(potId()))}}
          </button>
      </div>
  </ion-content>
</ion-view>
