<ion-view title="Ручное управление">
  <ion-content has-header="true">
    <form  method="post" name="options_number">
      <button  ng-click = "handDel('к')" class="button button-full button-stable">
        Удалить TM ключи
      </button>
      <button ng-click = "handDel('т')" class="button button-full button-stable">
        Удалить термодатчики
      </button>
      <button ng-click = "checkBalance()" class="button button-full button-stable">
        Проверка баланса
      </button>
      <button ng-click = "resetDevice()" class="button button-full button-stable">
        Перезапуск устройства
      </button>
    </form>
  </ion-content>
</ion-view>
