<ion-view title="Приложения">
  <ion-content has-header="true">
    <ion-toggle ion-toggle-text  ng-model="statToggle.settingMode" ng-change="statToggleChange()">
   Режим настройки
 </ion-toggle>
 <ion-toggle ion-toggle-text  ng-model="statToggle.notification" ng-change="notifToggleChange()">
     Уведомления
 </ion-toggle>
    <div class="item">
      Файл истории:
        <span class="badge light {{getHistoryAccessColor()}}-bg">{{getHistoryAccessText()}}</span>
    </div>
    <div class="item">
      Версия программы:
        <span class="badge dark">{{getDataVersion()}}</span>
    </div>
    <div ng-show="smsLimitGet()" class="item assertive-bg stable" >
     Принято смс:
        <span class="badge stable">{{$parent.appVariables.counterSmsRec}} из {{smsLimitGet()}}</span>
    </div>
    <div>
      <button class="item button-block" ng-click="saveLocalStorage()">Сохранить настройки</button>
      <button class="item button-block" ng-click="loadLocalStorage()">Загрузить настройки</button>
    </div>
  </ion-content>
</ion-view>
