<ion-view view-title="Настройка">
  <ion-content has-header="true">
    <ion-list>
      <ion-item nav-clear ui-sref="app.option.ns">
        Сатурна
      </ion-item>
      <ion-item nav-clear ui-sref="app.option.nr">
        Выходов
      </ion-item>
      <ion-item nav-clear ui-sref="app.option.vs">
        Входов
      </ion-item>
      <ion-item nav-clear ui-sref="app.option.ss">
        Сообщений
      </ion-item>
      <ion-item nav-clear ui-sref="app.option.nn">
        Номеров
      </ion-item>
      <ion-item nav-clear ui-sref="app.option.nd">
        Доступа
      </ion-item>
      <ion-item nav-clear ui-sref="app.option.nt">
        Термодатчиков
      </ion-item>
      <ion-item nav-clear ui-sref="app.option.add">
        Дополнительная
      </ion-item>
      <ion-item nav-clear ui-sref="app.objectEditor">
        Объектов
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
