      <ion-view title="Доступ">
        <ion-content has-header="true">
          <form  method="post" name="regim_outputs">
            <div class="list">
              <label class="item item-input item-select">
                  <div class="input-label">
                    Номер 1
                  </div>
                  <select  ng-model="$parent.access1Selected" ng-options="access.label for access in numberAccess track by access.id"></select>
              </label>
              <label class="item item-input item-select">
                  <div class="input-label">
                    Номер 2
                  </div>
                  <select  ng-model="$parent.access2Selected" ng-options="access.label for access in numberAccess track by access.id"></select>
              </label>
              <label class="item item-input item-select">
                  <div class="input-label">
                    Номер 3
                  </div>
                  <select  ng-model="$parent.access3Selected" ng-options="access.label for access in numberAccess track by access.id"></select>
              </label>
              <label class="item item-input item-select">
                  <div class="input-label">
                    Номер 4
                  </div>
                  <select  ng-model="$parent.access4Selected" ng-options="access.label for access in numberAccess track by access.id"></select>
              </label>
            </div>
               </form>

           <div class="button-bar">
             <a class="button" ng-click="setNdOptions()">Задать настройку</a>
           </div>
        </ion-content>
      </ion-view>
