<ion-view title="Настройка номера">
  <ion-content has-header="true">
    <form  method="post" name="options_number">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Телефонный номер:
          </div>
          <select ng-change="resetForm()" ng-model="$parent.selected" ng-options="phone.label for phone in phonesOptions track by phone.id"></select>
        </label>

        <label class="item item-input">
          <input type="text" ng-model="$parent.phoneNumber" placeholder="Телефонный номер формата +79001234567">
        </label>
      </div>
    </form>

    <div class="button-bar">
      <a class="button" ng-click="setPhone()" > Задать настройку </a>
    </div>
  </ion-content>
</ion-view>
