
      <ion-view title="Настройка сатурна">

        <ion-content class="padding">
          <form  method="post" name="options_number">
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                      Телефонный номер:
                </div>
                <select>
                  <option selected>Хозяин</option>
                  <option>Дополнительный 1</option>
                  <option>Дополнительный 2</option>
                  <option>Дополнительный 3</option>
                  <option>Дополнительный 4</option>
                </select>
              </label>

              <label class="item item-input">
                <input type="text" placeholder="Телефонный номер формата +79001234567">
              </label>
            </div>
       </form>

          <div class="button-bar">
            <a class="button">Задать настройку</a>
          </div>
        </ion-content>
      </ion-view>
