
      <ion-view title="Настройка выходов сатурна">
        <ion-content has-header="true">
          <form  method="post" name="regim_outputs">
            <div class="list">
              <label class="item item-input item-select">
                  <div class="input-label">
                    Выход 1
                  </div>
                  <select  ng-model="$parent.output1Selected" ng-options="mode.label for mode in modeOutput track by mode.id"></select>
              </label>
              <label class="item item-input item-select">
                  <div class="input-label">
                    Выход 2
                  </div>
                  <select  ng-model="$parent.output2Selected" ng-options="mode.label for mode in modeOutput track by mode.id"></select>
              </label>
              <label class="item item-input item-select">
                  <div class="input-label">
                    Выход 3
                  </div>
                  <select  ng-model="$parent.output3Selected" ng-options="mode.label for mode in modeOutput track by mode.id"></select>
              </label>
              <label class="item item-input item-select">
                  <div class="input-label">
                    Выход 4
                  </div>
                  <select  ng-model="$parent.output4Selected" ng-options="mode.label for mode in modeOutput track by mode.id"></select>
              </label>
            </div>
               </form>

           <div class="button-bar">
             <a class="button" ng-click="setNrOptions()">Задать настройку</a>
           </div>
        </ion-content>
      </ion-view>
