
      <ion-view title="Настройка сатурна">

        <ion-content has-header="true">
          <form  method="post" name="options_saturn">
              <ion-checkbox ng-model="isChecked1">Оповещение при включении</ion-checkbox>
              <ion-checkbox ng-model="isChecked2">Оповещение о смене режима охраны</ion-checkbox>
              <ion-checkbox ng-model="isChecked3">Отчеты о выполнении команд</ion-checkbox>
              <ion-checkbox ng-model="isChecked4">Запрет исходящих звонков</ion-checkbox>
              <ion-checkbox ng-model="isChecked5">Управление используя дозвон</ion-checkbox>
              <ion-checkbox ng-model="isChecked6">Смс при тревоге</ion-checkbox>
              <ion-checkbox ng-model="isChecked7">Автопостановка на охрану</ion-checkbox>
              <ion-checkbox ng-model="isChecked8">Оповещение о неверной команде</ion-checkbox>


            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                    Длительность сирены в секундах
                  </div>
                    <select name="time_alarm" size="1">
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option selected="selected" value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="120">120</option>
                    <option value="140">140</option>
                    <option value="160">160</option>
                    <option value="180">180</option>
                  </select>
                </label>

                <label class="item item-input item-select">
                <div class="input-label">
                  Задержка при взятии на охрану (секунд)
                </div>
                  <select name="time_wait_guard" size="1">
                  <option selected="selected" value="35">35</option>
                  <option value="70">70</option>
                  <option value="105">105</option>
                  <option value="140">140</option>
                  <option value="175">175</option>
                  <option value="210">210</option>
                  <option value="245">245</option>
                  <option value="280">280</option>
                  <option value="315">315</option>
                </select>
              </label>
              </div>
          </form>

          <div class="button-bar">
            <a class="button">Задать настройку</a>
          </div>
        </ion-content>
      </ion-view>
