
      <ion-view title="Настройка входов сатурна">
        <ion-content has-header="true">

           <form  method="post" name="options_input">
             <label class="item item-input item-select">
               <div class="input-label">
                 Вход номер:
               </div>
             <select name="input" size="1">
               <option selected="selected" value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
            </select>
          </label>


          <label class="item item-input item-select">
            <div class="input-label">
            Минимальное напряжение  [Вольт]
            </div>
              <select name="min_v" size="1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option selected="selected" value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
             </select>
           </label>

           <label class="item item-input item-select">
             <div class="input-label">
               Максимальное напряжение  [Вольт]
             </div>
                <select name="max_v" size="1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option selected="selected" value="8">8</option>
                  <option value="9">9</option>
               </select>
             </label>


             <label class="item item-input item-select">
               <div class="input-label">
                 Минимальное длительность импульса  [Секунд]
               </div>
                  <select name="min_t" size="1">
                    <option selected="selected" value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                 </select>
               </label>

               <label class="item item-input item-select">
                 <div class="input-label">
                   Неактивность входа [Секунд]
                 </div>
                    <select name="input_n" size="1">
                      <option value="0">0</option>
                      <option selected="selected" value="1">10</option>
                      <option value="2">20</option>
                      <option value="3">30</option>
                      <option value="4">40</option>
                      <option value="5">50</option>
                      <option value="6">60</option>
                      <option value="7">70</option>
                      <option value="8">80</option>
                      <option value="9">90</option>
                   </select>
                 </label>

                 <label class="item item-input item-select">
                   <div class="input-label">
                     Пауза до включения тревог [Секунд]
                   </div>
                      <select name="input_w" size="1">
                        <option selected="selected" value="0">0</option>
                        <option value="1">15</option>
                        <option value="2">30</option>
                        <option value="3">45</option>
                        <option value="4">60</option>
                        <option value="5">75</option>
                        <option value="6">90</option>
                        <option value="7">105</option>
                        <option value="8">120</option>
                        <option value="9">135</option>
                     </select>
                   </label>

                   <label class="item item-input item-select">
                     <div class="input-label">
                       Режим работы входа
                     </div>
                        <select name="input_r" size="1">
                          <option selected="selected" value="0">Контроль только на охране</option>
                          <option value="1">Постоянный контроль</option>
                          <option value="2">Контроль на охране, инверсный вход</option>
                          <option value="3">Постоянный контроль, инверсный вход</option>
                          <option value="4">"Тихая тревога"</option>
                       </select>
                     </label>

                     <label class="item item-input item-select">
                       <div class="input-label">
                         Привезать выход №:
                       </div>
                          <select name="input_output" size="1">
                            <option selected="selected" value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                         </select>
                       </label>

           </form>
           <div class="button-bar">
             <a class="button">Задать настройку</a>
           </div>
        </ion-content>
      </ion-view>
