<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="app.ServiceGas" version="1.3.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Сатурн 3009</name>
  <description>
    Приложение для пожарно-охранного прибора Сатурн-3009
  </description>
  <author email="bazili073@ya.ru" href="http://b-ops.ru">
    Rozhnov S.V.
  </author>
  <content src="index.html"/>
  <access origin="*" />
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="5000"/>
    <splash src="platforms/android/res/drawable/screen.png" density="hdpi"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
