/* Empty. Add your own CSS if you like */
.quadratic_green {
  background: green;
  width: 20px;
   height: 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 100px;
   /*background-color: #228B22;*/
   text-align:center;
}
.quadratic_red {

  background: red;
  width: 20px;
   height: 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 100px;
   text-align:center;
   float: right ;
}
.oval {
    margin-right: 5px;
    -webkit-border-radius: 50px;
    font-size: 24pt;
}

.oval_small {
    margin-right: 5px;
    -webkit-border-radius: 50px;
    font-size: 10pt;
    margin-left: 20px;
    margin-top: -7px;
}

.mybadge {
  margin-top: -8px;
}
.mybadge2 {
  margin-top: 16px;
  font-size: 15pt;
}

.term {
  font-size: 20pt;
}

.margin-right {
  margin-right: 20px;
}

.fontsize {
  font-size: 20px;
}

.mysize {
  font-size: 20px;
}

.texthidden{
  overflow : hidden;
}

.stateOk {
  text-align: center;
  background-color: #00FF7F;
  font-size: 20px;
}

.stateWait{
  text-align: center;
  background-color: #40E0D0;
  font-size: 20px;
}
.button.noMargin {
  margin: 0px;
}

.tab-item.max_width{
  max-width: none;
}
/* Empty. Add your own CSS if you like */

/* Styles go here */

.toggle-text{
  overflow : hidden;
}
.toggle-text > .track {

  width: auto;
  padding-left: 25px;
  padding-right: 25px;

}

.toggle-text .handle {
  left: 7px;
}

.toggle-text .handle-text {
  font-size: 24px;
  color: black;

  position: absolute;
  top: -4px;

}

.toggle-text .handle-text-false {
  left: 36px;

}

.toggle-text input:checked + .track .handle {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  left: calc(100% - 34px);

/*  -webkit-transform: translate3d(0, 0,0);*/
}
.track-text {
  line-height: 26px;
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}
