/* Empty. Add your own CSS if you like */
.quadratic_green {
  background: green;
  width: 20px;
   height: 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 100px;
   /*background-color: #228B22;*/
   text-align:center;
}
.quadratic_red {

  background: red;
  width: 20px;
   height: 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 100px;
   text-align:center;
   float: right ;
}
.oval {
    margin-right: 5px;
    -webkit-border-radius: 50px;
    font-size: 24pt;
}

.mybadge {
  margin-top: -8px;
}

.term {
  font-size: 20pt;
}

.input_norm{

}
.mysize {
  font-size: 20pt;
}
/* Empty. Add your own CSS if you like */
